modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39999
externalPort = 3000

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Commit everything"
mode = "sequential"
author = 10606722

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config --global user.name \"Replit Agent\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config --global user.email \"ar6165@gmail.com\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"created the app\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push force"

[agent]
integrations = ["javascript_mem_db:1.0.0"]
